* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 1.1em;
  color: gray;
}
section {
  width: 520px;
  margin: 80px auto;
  height: 683px;
  background-color: rgb(201, 195, 195);
  border-top: 2px solid rgb(201, 195, 195);
}
.container {
  width: 500px;
  align-items: center;

  margin: auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 20px;
  margin-top: 10px;
}
header {
  margin-bottom: 40px;
}
header h1 {
  margin: 10px 0;
}
.looking-btn {
  padding: 10px 35px;
  margin: 10px 0;
  color: gray;
  outline: 0;
  border: 2px solid gray;
  border-radius: 5px;
}
.far {
  margin: 0 15px;
  font-size: 30px;
}
.looking-button {
  display: flex;
  justify-content: space-between;
}
.btn-pro {
  display: flex;
  align-items: center;
}
.btn-pro img {
  width: 30px;
  margin-right: 15px;
}
.looking-btn:hover img {
  /* filter: opacity(2) drop-shadow(0 0 0 blue); */
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(95%) contrast(80%);
}
.looking-btn:hover {
  color: blue;
  background-color: rgb(201, 201, 245);
  border: 2px solid blue;
}
input {
  width: 100%;
  margin: 10px 0;
  font-size: 2em;
  border-radius: 5px;
  outline: 0;
  border: 1px solid rgb(201, 201, 245);
}
input:focus {
  outline: 2px solid blue;
}
.proceed-button {
  padding: 20px 30px;
  width: 100%;
  color: #fff;
  background-color: blue;
  outline: 0;
  border: 0;
  margin: 20px 0;
}
